.menu-btn { margin-right: 12px; }
::ng-deep .notification-menu .mat-mdc-menu-panel { max-width: 420px !important; padding: 0 !important; border-radius: 12px !important; }
::ng-deep .notification-menu .mat-mdc-menu-content { padding: 0 !important; }
